h1 {
    font-size: 50px;
    color:white;
    text-align: center;
    background-color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana;
}

img{
    text-align: center;
    width: 800px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

p {
    font-size: 25px;
    text-align: center;
    color: green;
    font-family: serif;
    margin-left:auto;
    margin-right:auto;
}

strong{
    color: white;
}

body{
    background-color: beige;
}

ul{
    font-size:25px;
    color:green;
}

h2{
    background-color: lightgreen;
    color:white;
    font-size: 40px;
    text-align: center;
    margin-left:25%;
    margin-right:25%;
    border: 5px;
    border-style: solid;
    border-color: green;
}

dd{
    color:green;
    font-size:25px;
    border: 5px;
    border-style:double;
    border-color: green;
    background-color: white;
}

h3{
    color:green;
    font-size: 25px;
}

ol{
    color:green;
    font-size:20px;
    border: 5px;
    border-style:double;
    border-color: green;
    background-color: white;
}

.foodlink{
    font-family: Papyrus;
}

.bold, .link{
    color:purple;
}

.summer{
    color:white;
    background-color: green;
}

.ingredientslist{
    color:green;
    font-size: 20px;
    font-family: Cambria;
    border: 5px;
    border-style:double;
    border-color: green;
    background-color: white;
}

.returnlink{
    color:green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.link{
    color:purple;
}

#boom{
    background-color: white;
    color:green;
}

#steps{
    font-size:25px;
    text-align: left;
    color: green;
}

#started{
    background-color: lightgreen;
    color:white;
    font-size: 30px;
    text-align: center;
    margin-left:40%;
    margin-right:40%;
    border: 5px;
    border-style: solid;
    border-color: green;
}

#spaghsteps{
    color:green;
    font-size:20px;
}
